name: Deploy to Hugging Face Space

on:
  push:
    branches:
      - master
    paths:
      - "backend/semantic/**"
      - "Dockerfile"
      - "README.md"

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout GitHub repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

          git remote add hf https://const-nishant:${HF_TOKEN}@huggingface.co/spaces/const-nishant/personal-drive-semantic-service

          git push hf HEAD:main --force
